@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap');
/* universal style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
/* shared style start*/
body{
    background: #000;
    color: #fff;
}
a{
    text-decoration: none;
    color: #fff;
}
:root{
    --background-color: rgb(230, 83, 60);
    --Shadow-bg:rgb(34, 34, 34);
    --input-bg:rgba(255, 255, 255, 0.1);
    --color: rgb(230, 83, 60);
    --font-color-p:rgba(255, 255, 255, 0.5);
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 48px;
    justify-content: space-between;
}
.text-title{
    color: rgba(255, 255, 255,1);
    font-size: 32px;
    font-weight:700;
    text-align: center;
    /* margin-bottom: 50px; */
    margin: 48px auto 24px auto;
}
.head-text{
    font-size: 25px;
    font-weight: 00;
    margin-bottom: 24px;
}
.pera, td{
    color: var(--font-color-p);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
}
button{
    width: 200px;
    margin: 0px 12px;
    margin-top: 28px;
    border-radius: 42px;
    border: none;
    padding: 16px 40px 16px 40px;
    background-color: var(--background-color);
}
.btn{
    font-size: 16px;
}
.run-text h1,.run-text p,
.bmi-text h1,.bmi-text p,
.bmi-input-calc h1, .bmi-input-calc p,
.member-info h1, .member-info p,
.footer-text h1, .footer-text p
{
    margin: 0px;
    text-align: left;
}
/* shared style End*/
/* hader style start */
header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    height:auto;
}
/* nav style */ 
nav{
    padding-top: 24px;
}
.logo{
    color:var(--color);
    font-weight: 800;
    font-size: 50px;
    text-align: left;
}
.nav-menu {
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    padding: 0.5rem;
    gap: 3rem;    
}
#first-menu{
    background: var(--background-color);
    border-radius: 40px;    
}
.nav-menu a{
    text-decoration: none;
    padding: 0.5rem 1.25rem;
    font-size: 18px;
    color:rgb(255, 255, 255);
}
.menu-ber{
    /* visibility: hidden; */
    display: none;
}
/* banner style */
.banner-content{
    margin-top: 32px;
}
.benner-text h1{
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight:800;
    line-height: 120%;
    text-align: left;
    margin-bottom: 28px;
    padding-left: 24px;
}
.benner-text h1>span{
    font-family:"Dancing Script", cursive;
    font-weight: 400;    
}
.benner-text p{
    text-align: left;
    padding-left: 24px;
}
#btn-dwn{
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
}
.img-info img{
    max-width:100%;
    min-width: 15rem;
    min-height: 20rem;;
    
}
.img-info{ 
    position: relative;
}
.img-info .top-box{
    position: absolute;
    background-color: rgba(128, 128, 128,0.4);
    border-radius: 15px;
    width: 55%;
    height: 15%;
    top: 22%;
    right: -20%;
    padding: 5% 6%;
}
.top-box p, .dwn-box p{
    text-align: left;
}
.img-info .dwn-box{
    position: absolute;
    background-color: rgba(128, 128, 128,0.4);
    border-radius: 15px;
    width: 55%;
    height: 15%;
    bottom: 22%;
    left: -20%;
    padding: 5% 3%;
    text-align: left;
    padding-left: 60px;
}
.circle{
    position: absolute;
    background-color: var(--background-color);
    width: 40px;
    height: 40px;
    left:5%;
    top: 25%;
    border-radius: 50%;
}
/* hader style end */
/* Main section start */
/* Change Your Habits style start */
.habit-items{
    justify-content: space-between;
    margin-top: 48px;
}
.habit-items .item{
    width: 25%;
    text-align: center;
}
.item img{
    width: 70%;
    border-radius: 50%;
    border: 5 px solid var(--Shadow-bg);
    margin-bottom: 16px;
}
/* Change Your Habits style End */





/* Main section End */




