@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* universal style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
/* shared style start*/
body{
    background: #000;
    color: #fff;
}
:root{
    --background-color: rgb(230, 83, 60);
    --color: rgb(230, 83, 60);
    --font-size:100px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* shared style End*/
/* hader style start */
.nav-container{
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}
.logo{
    color:var(--color);
    font-weight: 800;
    font-size: 2.25rem;
    /* font-size: 36px; */
    text-align: left;
}
.nav-menu {
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    padding: 0.5rem;
    gap: 3rem;
    
}
#first-menu{
    background: rgb(230, 83, 60);
    border-radius: 40px;    
}
.nav-menu a{
    text-decoration: none;
    padding: 0.5rem 1.25rem;
    color:rgb(255, 255, 255);
}
.menu-ber{
    /* visibility: hidden; */
    display: none;
}

/* hader style end */
/* responsive section start */
@media screen and (max-width:576px) {
    .nav-menu {
        display: none;
    }
    .menu-ber{
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
    }    
}
/* responsive section End */